#addForm{
    background-color:rgb(252, 128, 74);
    padding: 0px 0px 5px 5px;
}

body{
    background-color: rgb(245, 215, 176);
}

#costClass {
    padding: 9px 0px 5px 220px;
}

h1 {
    border: 3px solid rgb(120, 31, 6);
}

.inline {
    display: inline;
}

#monthlyCost {
    font-size: 1.5em;
}

.red {
    background-color: red;
}

#salaryTable {
    border: 3px solid;
}

.tableClass {
    background-color: rgb(216, 87, 40);
    padding: 0px 0px 5px 5px;
}

td {
    border: 1px solid;
    text-align: right;
    background-color: rgb(207, 205, 205);
}

th {
    border: 2px solid;
    background-color: darkgray;
}

